* {
    box-sizing: border-box;
}

body {
    overflow: hidden;
}

.container {
    margin: 5px 10px 20px;
    max-width: 100%;
    max-height: 100%;
    padding: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
}

.information {
    margin-top: -15rem;
    align-items: center;
    flex-direction: column;
}

.information h1 {
    font-size: 4.8rem;
}

.information h2 {
    font-size: 1.5rem;
    margin-top: 1.5rem;
}

.information p {
    font-size: rem;
    margin-top: 1.5rem;
}

.itens {
    display: flex;
    flex-direction: column;
}


.icons {
    display: flex;
    align-items: flex-start;
}