@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@700&family=Poppins:wght@100;400&family=Roboto+Condensed:wght@300&family=Roboto:wght@700&family=Space+Grotesk:wght@500&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;;
}

.container { 
    position: relative;
    margin-top: 4rem;
    max-width: 100%;
    max-height: 100%;
    padding: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
}

.img {
    max-height: 80%;
    margin: 0.5rem;
}

.information {
    align-items: center;
    flex-direction: column;
}

.information h1 {
    font-size: 4.8rem;
    margin-top: -0.5rem;
    color: hsl(235, 18%, 26%);
}

.sub_title {
    font-size: 1.0rem;
    color: hsl(234, 29%, 20%);
}

.information p {
    font-size: 1rem;
    align-items: center;
    vertical-align: middle;
    color: hsl(234, 29%, 20%);
}

.itens {
    display: flex;
    flex-direction: column;
    vertical-align: middle;
}

.icons {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.validation {
    display: flex;
    flex-direction: column;
    margin-top: 1.5rem;
    gap: 1rem;
}

label {
    color:hsl(235, 18%, 26%);
    margin-top: -1rem;
}

.input-email {
    width: 100%;
    height: 3rem;
    margin-top: -0.5rem;
    border: solid 1px;
    border-radius: 7px;
    border-color:  hsl(231, 7%, 60%);
    padding-left: 1.5rem;   
}

.btn {
    background-color: hsl(235, 18%, 26%);
    width: 100%;
    height: 3rem;
    border: solid 1px;
    border-radius: 7px;
    border-color: hsl(231, 7%, 60%);
    color: hsl(0, 0%, 100%);
    cursor: pointer;
}

.modal {
    position: absolute;
    background-color: rgb(186, 190, 190);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 23rem;
    height: 27rem;
    top: 50%; /* centraliza verticalmente */
    left: 50%; /* centraliza horizontalmente */
    transform: translate(-50%, -50%); /* ajusta o centro do modal */
    border-radius: 2rem;
    display: none;
}

.container_modal {
    border-radius: 2rem;
    align-items: center;
}

.success_active {
    margin-left: .0.5rem;
    text-align: left;
    margin: 2.5rem;
    background-color: rgb(186, 190, 190);
}


.h1_modal {
    font-size: 30px;
    margin: 0;
}

.text_modal {
    font-size: 13px;
}

.btn_dismiss {
    background-color: rgb(245, 121, 76);
    width: 100%;
    height: 2rem;
    border: none;
    border-radius: 0.3rem;
    margin-top: 0.7rem;
    color: white;
    cursor: pointer;
}


@media (min-width: 1440px) {
        .container {
            margin-top: 3rem;
        }
    }

@media (max-width: 980px) {
    .container {
        margin: 2rem;
        margin-top: 2rem;
        max-width: 100%;
        max-height: 100%;
        padding: 2rem;
        display: flex;
        align-items: center;
        gap: 1rem;
    }

    .information h1 {
        font-size: 3rem;
        margin-top: -0.5rem;
        color: hsl(235, 18%, 26%);
    }

    .information p {
        font-size: 0.8rem;
        margin-top: 1.0rem;
        align-items: center;       
    }
}
